@{
    string action = ViewContext.RouteData.Values["Action"].ToString();
    string homeLink = Url.RouteUrl("home") + "/";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RDPMonWebGUI</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        <script defer src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script defer src="~/lib/bootstrap/js/dist/util.js" asp-append-version="true"></script>
        <script defer src="~/lib/bootstrap/js/dist/collapse.js" asp-append-version="true"></script>
        <script defer src="~/lib/fancybox/jquery.fancybox.js" asp-append-version="true"></script>
        <script defer src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <script defer src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@homeLink">RDPMonWebGUI</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(action == "Index" ? "active" : null )" href="@homeLink">Connections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "Sessions" ? "active" : null )" asp-controller="Home" asp-action="Sessions">Sessions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container h-100">
        <main role="main" class="pb-3 pt-3 h-100">
            @RenderBody()
        </main>
    </div>

    <footer class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="https://github.com/joszz/RDPMonWebGUI" target="_blank" class="text-white">&copy; @DateTime.Now.Year - Jos Nienhuis</a>
        </div>
    </footer>
</body>
</html>
